<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.alperenbilal.bitirme2">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<permission android:name="com.alperenbilal.bitirme.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<application android:label="Bitirme recommender" android:largeHeap="true">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.alperenbilal.bitirme" />
			</intent-filter>
		</receiver>
	</application>
</manifest>